<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>ListadoCitasServlet</servlet-name>
        <servlet-class>app.servlet.ListadoCitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCitaServlet</servlet-name>
        <servlet-class>app.servlet.ModificarCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificandoCitaServlet</servlet-name>
        <servlet-class>app.servlet.ModificandoCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirPeticionCitaServlet</servlet-name>
        <servlet-class>app.servlet.AnadirPeticionCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEspecialidadServlet</servlet-name>
        <servlet-class>app.servlet.ListaEspecialidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedireccionServlet</servlet-name>
        <servlet-class>app.servlet.RedireccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPeticionServlet</servlet-name>
        <servlet-class>app.servlet.EliminarPeticionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPeticionCitaServlet</servlet-name>
        <servlet-class>app.servlet.ModificarPeticionCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificandoPeticionCitaServlet</servlet-name>
        <servlet-class>app.servlet.ModificandoPeticionCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarAnandirCitaServlet</servlet-name>
        <servlet-class>app.servlet.EnviarAnandirCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCitaServlet</servlet-name>
        <servlet-class>app.servlet.AnadirCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCitaServlet</servlet-name>
        <servlet-class>app.servlet.EliminarCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPaciente</servlet-name>
        <servlet-class>app.arkadiusz.BorrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarPaciente</servlet-name>
        <servlet-class>app.arkadiusz.ConsultarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPaciente</servlet-name>
        <servlet-class>app.arkadiusz.CrearPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoPacientes</servlet-name>
        <servlet-class>app.arkadiusz.ListadoPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPaciente2</servlet-name>
        <servlet-class>app.arkadiusz.ModificarPaciente2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPaciente</servlet-name>
        <servlet-class>app.arkadiusz.ModificarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalAdministrativoLogin</servlet-name>
        <servlet-class>app.arkadiusz.PersonalAdministrativoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalAdministrativoLogout</servlet-name>
        <servlet-class>app.arkadiusz.PersonalAdministrativoLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarHistorialPacienteServlet</servlet-name>
        <servlet-class>app.jose.ConsultarHistorialPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionHistorialPacienteServlet</servlet-name>
        <servlet-class>app.jose.GestionHistorialPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHistorialPacienteServlet</servlet-name>
        <servlet-class>app.jose.EditarHistorialPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoCitas</servlet-name>
        <servlet-class>app.jose.ListadoCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoFormularioSugerencia</servlet-name>
        <servlet-class>app.jose.NuevoFormularioSugerencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarFormularioSugerencia</servlet-name>
        <servlet-class>app.jose.ConsultarFormularioSugerencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionFormularioPacienteServlet</servlet-name>
        <servlet-class>app.jose.GestionFormularioPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarListadoCitas</servlet-name>
        <servlet-class>app.jose.ConsultarListadoCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>app.jose.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoMedicoServlet</servlet-name>
        <servlet-class>app.inma.NuevoMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoMedicoServletMuestra</servlet-name>
        <servlet-class>app.inma.NuevoMedicoServletMuestra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoPersonalAdminServlet</servlet-name>
        <servlet-class>app.inma.NuevoPersonalAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoPersonalAdminServletMuestra</servlet-name>
        <servlet-class>app.inma.NuevoPersonalAdminServletMuestra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarMedicoServlet</servlet-name>
        <servlet-class>app.inma.BorrarMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPersonalAdminServlet</servlet-name>
        <servlet-class>app.inma.BorrarPersonalAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMedicoServlet</servlet-name>
        <servlet-class>app.inma.ModificarMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMedicoServletMuestra</servlet-name>
        <servlet-class>app.inma.ModificarMedicoServletMuestra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPersonalAdminServlet</servlet-name>
        <servlet-class>app.inma.ModificarPersonalAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPersonalAdminServletMuestra</servlet-name>
        <servlet-class>app.inma.ModificarPersonalAdminServletMuestra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarMedicoServlet</servlet-name>
        <servlet-class>app.inma.ConsultarMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarPersonalAdminServlet</servlet-name>
        <servlet-class>app.inma.ConsultarPersonalAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>app.Inicio.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>app.Inicio.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDatosPersonales</servlet-name>
        <servlet-class>app.Inicio.GestionDatosPersonales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarHistorialPacienteServlet</servlet-name>
        <url-pattern>/consultarHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionHistorialPacienteServlet</servlet-name>
        <url-pattern>/gestionHistorialPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHistorialPacienteServlet</servlet-name>
        <url-pattern>/editarHistorialPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoCitas</servlet-name>
        <url-pattern>/listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoFormularioSugerencia</servlet-name>
        <url-pattern>/nuevoFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarFormularioSugerencia</servlet-name>
        <url-pattern>/ConsultarFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionFormularioPacienteServlet</servlet-name>
        <url-pattern>/gestionFormularioPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarListadoCitas</servlet-name>
        <url-pattern>/ConsultarListadoCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPaciente</servlet-name>
        <url-pattern>/BorrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarPaciente</servlet-name>
        <url-pattern>/ConsultarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPaciente</servlet-name>
        <url-pattern>/CrearPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoPacientes</servlet-name>
        <url-pattern>/ListadoPacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPaciente2</servlet-name>
        <url-pattern>/ModificarPaciente2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPaciente</servlet-name>
        <url-pattern>/ModificarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalAdministrativoLogin</servlet-name>
        <url-pattern>/PersonalAdministrativoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalAdministrativoLogout</servlet-name>
        <url-pattern>/PersonalAdministrativoLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoCitasServlet</servlet-name>
        <url-pattern>/listado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCitaServlet</servlet-name>
        <url-pattern>/modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificandoCitaServlet</servlet-name>
        <url-pattern>/modificando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirPeticionCitaServlet</servlet-name>
        <url-pattern>/peticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEspecialidadServlet</servlet-name>
        <url-pattern>/listaEsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedireccionServlet</servlet-name>
        <url-pattern>/redireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPeticionServlet</servlet-name>
        <url-pattern>/eliminarPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPeticionCitaServlet</servlet-name>
        <url-pattern>/modificarPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificandoPeticionCitaServlet</servlet-name>
        <url-pattern>/modificandoPeticionCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarAnandirCitaServlet</servlet-name>
        <url-pattern>/enviarAnadirCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCitaServlet</servlet-name>
        <url-pattern>/anadirCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCitaServlet</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoMedicoServlet</servlet-name>
        <url-pattern>/NuevoMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoMedicoServletMuestra</servlet-name>
        <url-pattern>/NuevoMedicoM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoPersonalAdminServlet</servlet-name>
        <url-pattern>/NuevoPersonalAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoPersonalAdminServletMuestra</servlet-name>
        <url-pattern>/NuevoPersonalAdminM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarMedicoServlet</servlet-name>
        <url-pattern>/BorrarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPersonalAdminServlet</servlet-name>
        <url-pattern>/BorrarPersonalAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMedicoServlet</servlet-name>
        <url-pattern>/ModificarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPersonalAdminServlet</servlet-name>
        <url-pattern>/ModificarPersonalAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPersonalAdminServletMuestra</servlet-name>
        <url-pattern>/ModificarPersonalAdminM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMedicoServletMuestra</servlet-name>
        <url-pattern>/ModificarMedicoM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarMedicoServlet</servlet-name>
        <url-pattern>/ConsultarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarPersonalAdminServlet</servlet-name>
        <url-pattern>/ConsultarPersonalAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/inicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDatosPersonales</servlet-name>
        <url-pattern>/gestionDatosPersonales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio.html</welcome-file>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>NullPointerException</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
